
.icon-facebook-1:before { content: '\e800'; } /* '' */
.icon-phone-circled:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-ok-circled2:before { content: '\e804'; } /* '' */
.icon-ok-circled:before { content: '\e805'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-check:before { content: '\e807'; } /* '' */
.icon-check-empty:before { content: '\e808'; } /* '' */
.icon-wikipedia:before { content: '\e809'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-facebook-2:before { content: '\f30c'; } /* '' */
.icon-linkedin-1:before { content: '\f318'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */