body {
	font-family: 'Open Sans', sans-serif;
	background-color: #171717;
     transition: top 1s ease-out 0.5s;
}

/************ HEADER *******************/
	#header-nav {
		border-radius: 0;
		border:0;
		background-color: black;
		padding-top:20px;
		padding-bottom: 15px;
		padding-right: 0;
		padding-left: 0;
	}

	#logo-img {
		background: url("../images/logo-lg.png") no-repeat;
		width: 125px;
		height: 125px;
		margin:10px;
	}

	.navbar-brand h1{ /*logo name */
		text-transform: uppercase;
		color:white;
		text-shadow: 2px 2px 10px white;
		font-size: 4em;
		margin-bottom: 0;
		margin-top: 0;
	}

	.navbar-brand p {
		color:white;
		text-transform: uppercase;
		font-size: 1.5em;
		margin-top:5px;
	}

	.navbar-brand a:hover, .navbar-brand a:focus {
		text-decoration: none;
	}	

	div#left-navbar-header {
		float:left;
		margin-bottom: 25px;
	}

	div#right-navbar-header {
		float:right;
		color:yellow;
		margin-top: 20px;
	}

	#jsmenu, #jshome, #jsabout {
		cursor: pointer;
	}
/************ END OF THE HEADER *******************/

/************ MENU *******************/
	#nav-list {
		margin-top: 15px;
	}

	#nav-list li a {
		color:white;
		font-size: 20px;
		text-align: center;
		border-radius: 20px;
		margin-bottom: 15px;
		transition: all .4s ease;
	}

	#nav-list li a span {
	font-size: 25px;
	margin-bottom: 10px;
		}


	button span {
		font-family:  sans-serif;	
	}

	button {
		background-color: pink;
	}

	#nav-list a:hover, #nav-list button:hover {
		box-shadow: 0px 0px	70px 1px white;
	}	

	/*Menu button*/
	.navbar-header .icon-bar {
		border: 2px solid white;
	}
	.navbar-header button.navbar-toggle{
		border: 5px solid white;
		clear:both;
	}
	#collapsable-nav {
		border-top:0px;
	}
 
 	nav#header-nav {
 		padding-bottom: 0;
 	}
/************ END OF THE HEADER *******************/

/************ BEGINNING OF THE PHONE BUTTON *******************/
	div#phone-button a {
		display:block;
		background-color: black;
		color:white;
		text-align: center;
		vertical-align: center;
		margin: -10px 10px 15px;
		border-radius: 7px;
		text-decoration: none;
		font-size:25px;
		box-shadow: 0px 0px	70px 1px green;
	}

	div#phone-button {
		margin-bottom: 40px;
	}

	a#phone-link:focus, a#phone-link:hover {
		box-shadow: 0px 0px	70px 1px yellow;} 
/************ END OF THE PHONE BUTTON *******************/


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
	/* Carousel base class */
	div#myCarousel {
	margin-top: -30px;
	border-bottom: 4px solid #171717;
	/*background-color: red;*/
	}

	.carousel {
	  height: 500px;
	}

	div#carousel-inner div.slide {
		background-color: black;
	}


	#carousel-inner {
	}

	/* Since positioning the image, we need to help out the caption */
	.carousel-caption {
	  z-index: 10;
	}

	/* Declare heights because of positioning of img element */
	.carousel .item {
	  height: 500px;
	  background-color: #454545;
	}



	.slide {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 100%;
 }

	div#myCarousel {
		margin-bottom: 50px;
	}	
/* END OF CUSTOMIZE THE CAROUSEL

/* CUSTOMIZE THE MARKETING
-------------------------------------------------- */

	div#about {
		color:white;
		text-align: center;
		font-size: 65px;
		margin-bottom: -50px;
	}

	.featurette-divider {
	  margin: 80px 0 40px 0; 
	  border-top: 1px solid #454545;
	}

	div.marketing-tiles {
		color: #e7e7e7;
		margin-bottom: 40px;
	}

	div.marketing-tiles h2 {
		line-height: .9;
		font-size: 50px;
	}
	div.marketing-tiles p {
		font-size: 30px;
	}
/* END OF THE CUSTOMIZE THE MARKETING


/************ MAIN CONTENT *******************/
	#main-content {
		/*margin-top: 30px;*/
	}

	div.jumbotron {
		background-color: black;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}

 /************ MAIN CONTENT -TILES *******************/


	div.menu-tile {
		border: 5px solid #A22522;
		height:250px;
		position: relative;
		margin-bottom: 30px;
		border-radius: 5px;
		overflow: hidden;
		background-position: center;
		transition: all .2s ease;

	}

	div.menu-tile:hover {
		box-shadow: 0px 0px	40px 1px white;
	}

	div.menu-tile span {
		position: absolute;
		bottom: 0;
		width:100%;
		text-align: center;
		border: 0;
		border-top:4px solid #A22522;
		background-color: #94221f;
		opacity: .9;
		text-transform: uppercase;
		color: white;
		font-size: 170%;
	}

	.menu-picture {
		background:url('../images/dishes/maincourse/bludo_1.jpg');
		background-position: center;
	}

	.specials {
		background:url('../images/dishes/desserts/dessert-3.jpg');
		background-position: center;
	}
/************ END OF THE MAIN CONTENT *******************/

h2#menu-categories-title {
	margin-bottom: 30px;
	font-size: 50px;
	color:white;
}

/************ MENU *******************/
	#bruschetta {
		background:url('../images/dishes/maincourse/bludo-9.jpg');
		background-position: center;
	}
	#starter {
		background:url('../images/dishes/maincourse/bludo-4.jpg');
		background-position: center;
	}
	#soup {
		background:url('../images/dishes/maincourse/bludo-10.jpg');
		background-position: center;
	}
	#main-course {
		background:url('../images/dishes/maincourse/bludo-3.jpg');
		background-position: center;
	}
	#grill {
		background:url('../images/dishes/maincourse/bludo-5.jpg');
		background-position: center;
	}

	#special {
		background:url('../images/dishes/maincourse/bludo-2.jpg');
		background-position: center;
	}
	#dessert {
		background:url('../images/dishes/desserts/dessert-2.jpg');
		background-position: center;
	}
	#drink {
		background:url('../images/dishes/drinks/drink-1.2.jpg');
		background-position: center;
	}	
/************ END OF THE MENU *******************/


/************ FOOTER *******************/
	footer.panel-footer {
		background-color:black;
		border: 1px solid black;
		border-radius: 0;
		color:white; 
	}

	footer div.container {
		margin-top: 20px;
	}

	footer.panel-footer div.row {
		margin-bottom: 15px;
	}
	footer.panel-footer div.row span.head {
		font-size: 26px;
	}
	footer.panel-footer div.row span {
		font-size: 18px;
	}
	div.mini-container {
		padding-left: 10px;
	}
/*****COPYRIGHT*****/
	div#container-copyright {
		margin-top: 50px;
	}

	footer div#social-icons {
		font-size: 20px;
		text-align: right;
	}

	footer div#footer-copyright {
		margin-top: 35px;
	}

	footer div#footer-copyright a {
			color:white;
			border-radius: 2px;
			padding-left: 10px;
			transition: all .4s ease;
		}

	footer div#footer-copyright a:hover {
		text-decoration: none;
		box-shadow: 0px 0px 10px 1px grey;
	}

	footer div#footer-copyright a:blur {
	text-decoration: none;
	}

	i.footer {
		font-size: 40px;
		text-decoration: none;
		color:white;
		transition: all .4s ease;

	}

	i.footer:hover {
		box-shadow: 0px 0px 80px 1px white;
		border-radius: 10px;
	}
/************ END OF THE FOOTER *******************/

/************ MEDIA QUIRIES *******************/
@media (min-width: 1200px) {
	#first-slide {
		background: url('../images/carousel/oven-lg.jpg') 50% 50% no-repeat; 
		}
	#second-slide {
		background: url('../images/carousel/croissant-lg.jpg') 50% 50% no-repeat; 	
	}
	#third-slide {
		background: url('../images/carousel/meat-lg.png') 50% 50% no-repeat;  
	}
	#forth-slide {
		background: url('../images/carousel/interior-lg.jpg') 50% 50% no-repeat; 
	}
	#fifth-slide {
		background: url('../images/carousel/oven-2-lg.jpg') 50% 50% no-repeat; 
	}}

@media (min-width: 992px) {
		li.icons {
		width:80px;}}

@media (min-width: 992px) and (max-width: 1199px) {
	#first-slide {
		background-color: red;
		background: url('../images/carousel/oven-md.jpg') 50% 50% no-repeat; 
		}
	#second-slide {
		background: url('../images/carousel/croissant-md.jpg') 50% 50% no-repeat; 	
	}
	#third-slide {
		background: url('../images/carousel/meat-md.png') 50% 50% no-repeat;  
	}
	#forth-slide {
		background: url('../images/carousel/interior-md.jpg') 50% 50% no-repeat; 
	}
	#fifth-slide {
		background: url('../images/carousel/oven-2-md.jpg') 50% 50% no-repeat; 
	}	}

@media (min-width: 768px) and (max-width: 991px) {
	#header-nav div.navbar-brand h1 {
		font-size: 55px;
	}

	#header-nav p {
		line-height: 30px;
		font-size: 18px;
		margin-left: 2px;
	}

	div#left-navbar-header {
	margin-bottom: 15px;
	}

	#nav-list li a {
		font-size: 18px;
	}
	#nav-list li a span{
		font-size: 22px;}

	li.icons {
		width:80px;
	}

	#first-slide {
		background: url('../images/carousel/oven-md.jpg') 50% 50% no-repeat; 
		}
	#second-slide {
		background: url('../images/carousel/croissant-md.jpg') 50% 50% no-repeat; 	
	}
	#third-slide {
		background: url('../images/carousel/meat-md.png') 50% 50% no-repeat;  
	}
	#forth-slide {
		background: url('../images/carousel/interior-md.jpg') 50% 50% no-repeat; 
	}
	#fifth-slide {
		background: url('../images/carousel/oven-2-md.jpg') 50% 50% no-repeat; 
	}}

@media (max-width: 767px) {
	#logo-img {
	background: url("../images/logo-sm.png") no-repeat;
	width: 50px;
	height: 50px;
	}

	#header-nav div h1 {
	font-size: 55px;
	}
	
	#header-nav div p {
	font-size: 25px;
	line-height: 30px;
	}

	div#left-navbar-header {
	margin-bottom: 100px;
	}

	#nav-list li a {
	border-radius: 0px;
	vertical-align: center;
	width:100%;	
	}

	#nav-list span {
	margin-right: 15px;
	}

	#nav-list li a span{
	margin-bottom: 0px;
		}

	#first-slide {
		background: url('../images/carousel/oven-sm.jpg') 50% 50% no-repeat; 
		}
	#second-slide {
		background: url('../images/carousel/croissant-sm.jpg') 50% 50% no-repeat; 	
	}
	#third-slide {
		background: url('../images/carousel/meat-sm.png') 50% 50% no-repeat;  
	}
	#forth-slide {
		background: url('../images/carousel/interior-sm.jpg') 50% 50% no-repeat; 
	}
	#fifth-slide {
		background: url('../images/carousel/oven-2-sm.jpg') 50% 50% no-repeat; 
	}



	hr.featurette-divider{
		width:100%;
		text-align: center;
		border-top: 2px solid #2e2e2e;
	  	margin: 25px 0 0px 0; 
	}

	div.marketing-tiles {
		margin-bottom: 15px;
	}

	div.marketing-tiles h2 {
		line-height: .85;
		font-size: 30px;
	}

	div.marketing-tiles p#marketing-paragraph {
		font-size: 17px;
		line-height: 1;
	}

	/*TILES*/

	h2#menu-categories-title {
		margin-top: -15px;
		margin-bottom: 15px;
		font-size:  40px;
	}

	div#main-content {
		margin-top: 40px;
	}

	div#home-tiles div {
		margin-bottom: 10px;
	}

	div.menu-tile {
		height:200px;
	}
	div#about {
		margin-top: -30px;
	margin-bottom: -10px;
	font-size: 40px;
	}

	footer.panel-footer div.row {
	text-align: center;
	}

	footer.panel-footer div#footer-info {
	margin-bottom: 50px;
	}

	footer div#footer-copyright {
		margin-top: 5px;
	}

	hr {
		width:50%;
	}

	footer div#social-icons, footer div#footer-copyright {
		text-align: center;
	}
	div#container-copyright {
		margin-top: 0px;
	}}

@media (max-width: 415px) {
	#header-nav div h1 {
	font-size: 50px;
	}
	
	#header-nav div p {
	font-size: 18px;
	line-height: 20px;
	}	} 


